{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
.container{
	width:100%;
	min-height: 0%;
	padding: 1%;
}
h1{
background-color:red;
}
footer{
background-color:red;
}
body{
background-color:purple;
}
button{
background-color:green;
}
p{
color:light green;
}
a{
background-color:black;
}
